
<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>Export</title>
    <link rel="stylesheet" type="text/css" href="/static/ra-sales.css">

</head>

<body>
<h2>
<!--Head Start: the place to put banner and logo of IU-->
           <div id="branding-bar-v1" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity">
	<div class="bar">
		<div class="wrapper">
			<p class="campus">
				<img src="//assets.iu.edu/brand/legacy/trident-large.png" height="73" width="64" alt=" " />
				<a href="http://www.iu.edu"> Indiana University</a>
		</div>
	</div>
 </div>
</h2>
<h3>
				<a class="linkbutton" href="/index">Index</a>
				<a class="linkbutton" href="/search">Search</a>
				<a class="linkbutton" href="/export">Export</a>
				<a class="linkbutton" href="/validate">Account Validation</a>
</h3>
				
			</p>


<div align="center">
    <h1>Research Analytics Software Sale Information Input System</h1>
</div>
<div align="center">
<h3>Export Data from Database<br><br></h3>
Username: 
<form name="username" method="post" action="export">
    <input name="username" type="text" size="40">
<br><br>
</p>
<p>
Software: 
<br><br>
<form name="software" method="post" action="export">
    <input name="software" type="text" size="40">
<br><br>
</p>
<p>
Date Range (yyyy-mm-dd):
<br>
</p>
<p>
<form name="timerange" method="post" action="export">
    Start Date:
    <input name="date1" type="text" size="20", placeholder="start date">
	<br><br>
	End Date:
	<input name="date2" type="text" size="20", placeholder="end date">
	<br><br>
    <input type="submit" name="submit" value="export" />
