
<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>Research Analytics Software Sale Information Input System</title>
    <link rel="stylesheet" type="text/css" href="/static/ra-sales.css">

</head>

<body>
<h2>
<!--Head Start: the place to put banner and logo of IU-->
           <div id="branding-bar-v1" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity">
	<div class="bar">
		<div class="wrapper">
			<p class="campus">
				<img src="//assets.iu.edu/brand/legacy/trident-large.png" height="73" width="64" alt=" " />
				<a href="http://www.iu.edu"> Indiana University</a>
		</div>
	</div>
 </div>
</h2>				
			</p>


<div align="center">
    <h1>Research Analytics Software Sale Information Input System</h1>
  <p>
<form action="login" method="post" id="add-sale">
  </p>
</div>
<div align="center">
<b>Welcome, please login here: <br><br></b>
</div>
<div align="center">
<!--Personal information-->
  Username: <br>
    <input type="text" name="user" placeholder="Trade candies with Wenjuan for a username" size=40><br><br>
  Password: <br>
    <input type="PASSWORD" name="password" size=40><br><br>
</div>
  <div align="center">
<!--Submit button-->
  <button type="submit" form="add-sale" value="Submit" >Login</button>
</p>