
<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>Research Analytics Software Sale Information Input System</title>
    <link rel="stylesheet" type="text/css" href="/static/ra-sales.css">

</head>

<body>
<h2>
<!--Head Start: the place to put banner and logo of IU-->
           <div id="branding-bar-v1" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity">
	<div class="bar">
		<div class="wrapper">
			<p class="campus">
				<img src="//assets.iu.edu/brand/legacy/trident-large.png" height="73" width="64" alt=" " />
				<a href="http://www.iu.edu"> Indiana University</a>
		</div>
	</div>
 </div>
</h2>
<h3>
				<a class="linkbutton" href="/index">Index</a>
				<a class="linkbutton" href="/search">Search</a>
				<a class="linkbutton" href="/validate">Account Validation</a>
</h3>
				
			</p>



<div align="center">
    <h1>Research Analytics Software Sale Information Input System</h1>
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1>Your data was successfully entered!</h1>
<p>
    You were assigned Order ID {{ id }}
</p>
</body>
</html>